.newsletter-form input,
.search-input {
  width: 98%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #a5aad8;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
}
