<section class="nav-panel">
  <div class="">
    <nav>
    <ul>
      <li class="no-desktop">
        <a href="#" class= 'tag-icon'>
        </a>                
      </li>
      <li class='active'>
        <a href="#" class= 'menu-item star-icon'>
          <span >Najnowsze</span>
        </a>
      </li>
      <li>
        <a href="#" class= 'menu-item book-icon'>
          <span >Książki</span>
        </a>
      </li>
      <li>
        <a href="#" class= 'menu-item education-icon'>
          <span >Źródła</span>
        </a>
      </li>
      <li>
        <a href="#" class= 'menu-item cool-guy-icon'>
          <span >Cool People</span>
        </a>
      </li>
      <li>
        <a href="#" class= 'menu-item handshake-icon'>
          <span >Meet js</span>
        </a>
      </li>
      <li>
        <a href="#" class= 'menu-item globe-icon'>
          <span >Konferencje</span>
        </a>
      </li>
      <li>
         <a href="#" class= 'menu-item video-icon'>
          <span >Video</span>
        </a>
      </li>
    </ul>
  </nav>
    
  <div class="newsletter-container">
    <form class="newsletter-form" method="post">
      <div class="separator desktop-only"></div>
      <span class="newsletter-text desktop-only">
        Dołącz do naszej społeczności i bądź na bierząco z nowinkami ze świata front-endu oraz pogłębiaj z nami swoją wiedzę.</span><span class="newsletter-text"> Zapisz się do naszego newslettera już teraz.
      </span>
      <button class="btn btn--cta no-desktop">Dołącz do Nasz</button>
      <fieldset class="newsletter desktop-only">             
        <input class="newsletter-input email " type="email" value="Twój Adress E-mail" name="EMAIL" id="mce-EMAIL"><br>
        <button class="btn btn--cta" type="submit" name="subscribe" id="mc-embedded-subscribe">Dołącz do Nasz</button>
      </fieldset>
    </form>
    </div>
  </div>
</section>