<div class="newsletter-container">
  <form class="newsletter-form" method="post">
    <div class="separator desktop-only"></div>
    <span class="newsletter-text desktop-only">
      Dołącz do naszej społeczności i bądź na bierząco z nowinkami ze świata Front-endu oraz pogłębiaj z nami swoją wiedzę.</span>
    <span
      class="newsletter-text"> Zapisz się do naszego newslettera już teraz.
      </span>
      <button class="btn btn--cta no-desktop">Dołącz do Nas</button>
      <fieldset class="newsletter desktop-only">
        <input class="newsletter-input email " type="email" placeholder="Twój Adress E-mail" name="EMAIL" id="mce-EMAIL">
        <button class="btn btn--cta" type="submit" name="subscribe" id="mc-embedded-subscribe">Dołącz do Nas</button>
      </fieldset>
  </form>
</div>
